{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>Создание подразделения</h2>
                <div class="clearfix"></div>
            </div>

            <div class="x-content">

                <form id="new_department" action="{{ path_for('departments.postAddDepartments') }}" method="post" autocomplete="off">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group{{ errors.first_name ? ' has-error' : '' }}">
                            <label for="dep_name">Название подразделения</label>
                            <input type="dep_name" name="dep_name" id="dep_name" placeholder="Введите название подразделения" value="{{ old.dep_name }}" class="form-control">
                            {% if errors.dep_name %}
                                <span class="help-block">Введите название подразделения</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group{{ errors.id_head_structure ? ' has-error' : '' }}">
                            <label for="id_head_structure">Подчинено</label>
                            <select type="id_head_structure" name="id_head_structure" class="form-control">
                                <option value="">Выберите компанию</option>
                                {% for company in companies %}
                                    <option value="{{ company.idcompany }}">{{ company.company_name }}</option>
                                {% endfor %}
                            </select>
                            {% if errors.id_head_structure %}
                                <span class="help-block">Сделайте выбор</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group{{ errors.date_create ? ' has-error' : '' }}">
                            <label for="date_create">Дата создания</label>
                            <input type="date_create" name="date_create" id="date_create" placeholder="ДД.ММ.ГГГГ" value="{{ old.date_create }}" class="form-control">
                            {% if errors.date_create %}
                                <span class="help-block">Введите дату</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group{{ errors.date_close ? ' has-error' : '' }}">
                            <label for="date_close">Дата закрытия</label>
                            <input type="date_close" name="date_close" id="date_close" placeholder="ДД.MM.ГГГГ" value="{{ old.first_name }}" class="form-control">
                            {% if errors.date_close %}
                                <span class="help-block">Введите дату</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="dep_description">Краткое описание</label>
                        <textarea name="dep_description" id="dep_description" rows="10" cols="80">
                        This is my textarea to be replaced with CKEditor.
                        </textarea>
                        <script>
                            // Replace the <textarea id="editor1"> with a CKEditor
                            // instance, using default configuration.
                            CKEDITOR.replace( 'dep_description' );
                        </script>
                    </div>
                    {{ csrf.field | raw }}
                </form>

                <div class="ln_solid"></div>
                <input type="submit" form="new_department" value="Создать" class="btn btn-primary">

            </div>
        </div>
    </div>

{% endblock %}