<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view" style="overflow: visible;">

        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title">
                <i class="fa fa-pie-chart"></i>
                <span>Criterion HRM</span>
            </a>
        </div>

        <br>
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            {% if auth.admin %}
            <div class="menu_section">
                <h3>Система</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-gear"></i> Управление <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path_for('companies.companies') }}">Компании</a></li>
                            <li><a href="{{ path_for('users.users') }}">Пользователи</a></li>
                            <li><a href="{{ path_for('settings.mainsettings') }}">Настройки</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% if auth.admin or auth.hrmanager or auth.simpleuser %}
            <div class="menu_section">
                <h3>HR-менеджмент</h3>
                <ul class="nav side-menu">
                    {% if auth.admin or auth.hrmanager %}
                    <li>
                        <a href="{{ path_for('dashboard.dashboard') }}"><i class="fa fa-tachometer"></i> Главная панель</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path_for('orders.orders') }}"><i class="fa fa-list-alt"></i> Заявки </a>
                    </li>
                    <li>
                        <a href="{{ path_for('candidates.candidates') }}"><i class="fa fa-mortar-board"></i> Кандидаты </a>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% if auth.admin or auth.hrmanager %}
            <div class="menu_section">
                <h3>Компания</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="{{ path_for('departments.departments') }}"><i class="fa fa-cubes"></i> Структура </a>
                    </li>
                    <li>
                        <a href="{{ path_for('employees.employees') }}"><i class="fa fa-users"></i> Сотрудники </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>